%h1 Fantasy Football Draft App

%div.row
  %div.col-lg-6
    %a.btn.btn-success{title: 'Rankings', href: 'rankings'} Rankings
  %div.col-lg-6
    %a.btn.btn-info{title: 'Manage Sources', href: 'sources'} Manage Sources
    %a.btn.btn-info{title: 'Manage Positions', href: 'positions'} Manage Positions
    %a.btn.btn-danger{title: 'Clear Rankings', href: 'rankings'} Clear Rankings

